<div class="w-main">
  <div class="w-head">
    <p>My Wishlist ({{ WishList.length }})</p>
  </div>
  <div class="w-wrap" *ngFor="let list of WishList">
    <div class="w-book">
      <div class="wb-con">
        <div>
          <img src="{{ list.bookId.bookImage }}" alt="" width="110px"/>
        </div>
        <div class="wb-detail">
          <p class="book-name">{{ list.bookId.bookName }}</p>
          <p class="author">{{ list.bookId.author }}</p>
          <div class="cost">
            <p class="rupees">Rs. {{ list.bookId.discountPrice }}</p>
            <p class="disc">Rs. {{ list.bookId.price }}</p>
          </div>
        </div>
      </div>
      <div>
        <i
          class="material-icons"
          style="color: #9d9d9d; font-size: 25px; cursor: pointer"
          (click)="RemoveFromWishList(list)"
          >delete</i
        >
      </div>
    </div>
    <mat-divider style="margin-top: 30px"></mat-divider>
  </div>
</div>
