<div class="head">
  <div class="hearderContent">
    <div>
      <img src="../../../assets/book.png" alt="logo" />
    </div>
    <span class="Title">Bookstore</span>
  </div>
</div>
<div class="main">
  <h2 class="hTag">Reset Your Password</h2>
  <mat-card class="mainCard">
    <div class="InsideCard" [formGroup]="ResetPasswordForm">
      <mat-card-title>
        <h3>
          Enter your email address and we'll send you a link to reset your
          password.
        </h3>
      </mat-card-title>

      <div class="inputs">
        <label for="password">Password</label>
        <mat-form-field appearance="outline">
          <input
            matInput
            type="password"
            formControlName="password"
            [type]="hide ? 'text' : 'password'"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error
            class="alert"
            *ngIf="ResetPasswordForm.get('password')?.errors?.required"
            >Password is required</mat-error
          >
          <mat-error
            class="alert"
            *ngIf="ResetPasswordForm.get('password')?.errors?.pattern"
            >Invalid Password
          </mat-error>
        </mat-form-field>
      </div>

      <div class="inputs">
        <label>Confirm</label>
        <mat-form-field appearance="outline">
          <input
            matInput
            [type]="hide ? 'text' : 'password'"
            formControlName="confirmPassword"
            pattern="{{ this.ResetPasswordForm.value.password }}"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility" : "visibility_off"
          }}</mat-icon>
          <mat-error
            *ngIf="
              ResetPasswordForm.get('confirmPassword')?.hasError('pattern')
            "
            >Passwords didn’t match.Try Again</mat-error
          >
          <mat-error
            *ngIf="
              ResetPasswordForm.get('confirmPassword')?.hasError('required')
            "
            >Enter Confirm Password
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <button mat-stroked-button (click)="ResetPassword()">
          Reset Password
        </button>
      </div>
    </div>
  </mat-card>
</div>
