.head {
  background-color: #a03037;
  width: 100%;
  height: 60px;
}
.hearderContent {
  display: flex;
  align-items: center;
  padding-left: 9em;
  padding-top: 16px;
  min-width: 180px;
}
.Title {
  font: normal normal normal 20px/26px Roboto;
  letter-spacing: 0px;
  padding-left: 5px;
  color: #ffffff;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.mainCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 424px;
  max-height: 370px;
  border: 0.5px solid #ebf0f7;
  box-shadow: none;
  padding: 30px 30px;
}
h3 {
  font: normal normal normal 15px/20px Roboto;
  letter-spacing: 0px;
  color: #878787;
  margin: 0px;
}
.hTag {
  padding: 0px;
  padding-top: 80px;
  font-weight: bold;
}
::ng-deep .mat-h2,
.mat-title,
.mat-typography h2 {
  font: normal normal medium 25px/33px Roboto !important;
}
.InsideCard {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-around;
  height: fit-content;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}

button {
  height: 40px;
  width: 100%;
  background-color: #a03037;
  color: white;
  border-color: #a03037;
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

::ng-deep .mat-form-field {
  width: 100% !important;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.mat-error {
  padding-top: 10px;
}
::ng-deep .mat-form-field-suffix {
  align-self: center;
  padding: 5px;
  margin-bottom: 2px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px !important;
  height: 50px !important;
}
::ng-deep .mat-form-field-infix {
  border-top: none;
}
::ng-deep .mat-form-field-appearance-outline {
  color: rgb(118, 118, 118) !important;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid
  .mat-form-field-outline-thick {
  color: red !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0px !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px !important;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 15px !important;
}
.inputs {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-top: 10px;
  color: black;
  font-family: "Roboto" sans-serif;
  font-size: 15px;
  line-height: 16px;
}
